.menu {
  color: gray;
  font-size: 1.2rem;

  &__ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin: 0 0.5em;
    }

    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        color: black;
      }
    }

    .active,
    .active a {
      color: black;
    }

  }

}
