.header {
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  padding: 1rem 0;
  background: aquamarine;
  color: #6c757d;

  &__in {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: 20%;
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
    color: black;

    a {
      text-decoration: none;
      color: black;
    }
  }

  .auth {
    width: 20%;
    text-align: end;
  }

  .menu {
    width: 60%;
  }

}

@media (max-width: 699px) {
  .header {
    text-align: center;

    &__in {
      flex-wrap: wrap;
    }

    .logo {
      width: 50%;
      text-align: start;
    }

    .auth {
      width: 50%;
      text-align: end;
    }

    .menu {
      order: 1;
      width: 100%;
      margin: 1rem 0 0;
    }

  }
}
