.statistics{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;

}
.no-auth-img{
  width: 400px;
  height: 400px;
  background-image:url('../../assets/images/FotNoAuth.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.title{
  font-size: 1.5rem;
  color:#0D6EFD;
  margin: 0;
}
.sub-title{
  font-size: 1rem;
  color:#808080;
  margin-bottom: 10px;
}
.statistics-item{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.statistics-card{
  width: 100%;
  padding: 15px;
  background-color: rgba(127, 255, 212, 0.4);
  border-radius: 15px;
  margin-bottom: 24px;
}