.modal_auth {
  width: 30rem;
}
.header {
  .auth {
    .username {
      display: inline-block;
      max-width: 5rem;
      margin-right: 0.5rem;
      vertical-align: middle;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: black;
    }
  }
}
